<div class="container mt-4">
  <h4>All Users</h4>
  <div class="row" *ngFor="let user of users">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
          <h5>
            {{ user.name }}
            <small class="text-muted">({{ user.email }})</small>
          </h5>
          <div class="d-flex flex-wrap">
            <div *ngFor="let photo of user.photos" class="me-3 mb-3 text-center">
              <ng-container [ngSwitch]="getFileExtension(photo.originalName)">
                <!-- Image Preview -->
                <img
                  *ngSwitchCase="'jpg'"
                  [src]="service.baseUrl + '/' + photo.url"
                  class="img-thumbnail"
                  width="100"
                />
                <img
                  *ngSwitchCase="'jpeg'"
                  [src]="service.baseUrl + '/' + photo.url"
                  class="img-thumbnail"
                  width="100"
                />
                <img
                  *ngSwitchCase="'png'"
                  [src]="service.baseUrl + '/' + photo.url"
                  class="img-thumbnail"
                  width="100"
                />
                <img
                  *ngSwitchCase="'webp'"
                  [src]="service.baseUrl + '/' + photo.url"
                  class="img-thumbnail"
                  width="100"
                />
                <!-- PDF Preview -->
                <!-- PDF Preview -->
                <iframe
                  *ngSwitchCase="'pdf'"
                  [src]="photo.safeUrl"
                  width="100"
                  height="100"
                  style="border: 1px solid #ccc;"
                ></iframe>

                <!-- No Preview -->
                <div
                  *ngSwitchDefault
                  class="border d-flex align-items-center justify-content-center"
                  style="width: 100px; height: 100px;"
                >
                  <span class="text-muted">No preview</span>
                </div>
              </ng-container>

              <div class="mt-1">
                <button
                  class="btn btn-sm btn-outline-primary"
                  (click)="downloadFile(photo.url, photo.originalName)"
                >
                  Download
                </button>
              </div>

              <!-- Original File Name -->
              <small class="d-block mt-1 text-break">{{ photo.originalName }}</small>

              <!-- File Size -->
              <small class="d-block text-muted">{{ photo.fileSize }}</small>
            </div>
          </div>

          <a [routerLink]="['/edit', user.id]" class="btn btn-sm btn-primary me-2">Edit</a>
          <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>